:root {
  --bg-blue:#000C26;
  --b-purple:#910BA3;
  --text-purple:#dd68ed;
  --secondary-text-purple:#9f1db0;
}

.movie_Box > .ChangePage > .down, .movie_Box > .ChangePage > .up {
  border: 2px solid #910BA3;
  width: 150px;
  height: 45px;
  font-size: 14px;
  color: #c43ad7;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--bg-blue);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

a > .movie-img {
  width: 100px;
  height: 50px;
}

li > .dropdown-item:hover {
  background-color: var(--bs-secondary);
}

.search-box {
  width: 220px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
}
.search-box > input:focus {
  outline: none;
}
.search-box > .search-button {
  padding: 0 0 5px 0;
  width: 50px;
  border: none;
  background-color: transparent;
}
.search-box > .search-button > svg {
  display: inline-block;
  color: black;
  width: 20px;
  height: 20px;
}

.Home:hover {
  color: var(--text-purple) !important;
}

.Now:hover {
  color: var(--text-purple) !important;
}

.Popular:hover {
  color: var(--text-purple) !important;
}

.Rate:hover {
  color: var(--text-purple) !important;
}

.Coming:hover {
  color: var(--text-purple) !important;
}

.movie_Box {
  width: 100%;
  background-color: var(--bg-blue);
  margin: 0;
}
.movie_Box > .movie_container {
  width: 100%;
  margin: 0;
}
.movie_Box > .movie_container > .movie_content {
  padding: 10px 10px;
  width: 260px;
  height: auto;
}
.movie_Box > .movie_container > .movie_content > .movie_poster {
  position: relative;
  width: 100%;
  height: 300px;
}
.movie_Box > .movie_container > .movie_content > .movie_poster > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.movie_Box > .movie_container > .movie_content > .movie_info {
  width: 100%;
  height: 20px;
}
.movie_Box > .movie_container > .movie_content > .movie_info > .title {
  padding-top: 5px;
  color: var(--text-purple);
  text-align: center;
}
.movie_Box > .ChangePage {
  margin-top: 20px;
  height: 80px;
}
.movie_Box > .ChangePage > .up {
  margin-right: 3rem;
}
.movie_Box > .ChangePage > .up:hover {
  background-color: var(--b-purple);
  color: var(--text-purple);
}
.movie_Box > .ChangePage > .page {
  width: 50px;
  height: 45px;
  color: var(--text-purple);
}
.movie_Box > .ChangePage > .down {
  margin-left: 3rem;
}
.movie_Box > .ChangePage > .down:hover {
  background-color: var(--b-purple);
  color: var(--text-purple);
}

.mySwiper {
  width: 100%;
  height: 500px;
  border: 5px solid var(--b-purple);
  border-radius: 20px;
}
@media (max-width: 992px) {
  .mySwiper {
    height: 300px;
  }
}
@media (max-width: 512px) {
  .mySwiper {
    height: 150px;
  }
}
.mySwiper > .swiper-wrapper > .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: 80% 20%;
}
.mySwiper > .swiper-wrapper > .swiper-slide > .black {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(rgb(41, 41, 41)), to(transparent));
  background: linear-gradient(90deg, rgb(41, 41, 41), transparent);
  border-radius: 20px;
  padding: 100px 0 0 30px;
}
@media (max-width: 992px) {
  .mySwiper > .swiper-wrapper > .swiper-slide > .black {
    display: none;
  }
}
.mySwiper > .swiper-wrapper > .swiper-slide > .black > h2 {
  color: var(--text-purple);
  font-size: 26px;
  margin: 0;
  line-height: 2rem;
}
.mySwiper > .swiper-wrapper > .swiper-slide > .black > h4 {
  font-size: 1rem;
  color: var(--secondary-text-purple);
  margin: 0;
  line-height: 1.5rem;
}
.mySwiper > .swiper-wrapper > .swiper-slide > .black > span {
  font-size: 16px;
  color: var(--text-purple);
  padding-top: 10px;
  line-height: 2rem;
}
.mySwiper > .swiper-wrapper > .swiper-slide > .black > p {
  width: 500px;
  color: var(--text-purple);
}